@media (max-width: 991px){
    #showcase h1 {
        font-size: 3rem;
    }
    #showcase .showcase-img {
        height: 40%;
    }
    .items {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px){
    #showcase .container{
        grid-template-columns: repeat(1, 1fr);
    }
    #showcase .showcase-img {
        display: none;
    }
    #showcase h1 {
        font-size: 3.5rem;
    }
    .showcase .container{
        grid-template-columns: repeat(1, 1fr);
        justify-self: center;
    }
    .show-box {
        width: 75%;
        transform: translate(20%, 0);
    }
}

@media (max-width: 568px){
    #header-home #navbar .container ul{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        padding: .5rem 0;
    }
    #header-home #navbar .container {
        display: block;
        text-align: center;
    }
}

@media (max-width: 475px){
    #header-home #navbar .container ul a{
        font-size: 10px;
    }
    #showcase h1{
        font-size: 2rem;
    }
    #showcase .container {
        grid-template-columns: repeat(1, 1fr);
        align-items: flex-start;
        padding: 5rem 1rem;
    }
    .showcase .container img {
        display: none;
    }
    #main h1{
        font-size: 1.2rem;
    }
    .items{
        grid-template-columns: repeat(1, 1fr);
    }
    .item{
        width: 70%;
    }
    .main-footer .container {
        height: 4rem;
        font-size: 10px;
    }
    .icons .container {
        height: 3rem;
    }
    .icons .container .fa-2x{
        font-size: 16px;
    }
    .justify{
        transform: translate(10%, 0);
    }
}